$icon-font-path: '../fonts/';

// bower:scss
// endbower

.artistText { color: #4f4f4f; text-decoration: none;  }

.artistTextWrapper { padding: 10px; }

body {
  	font-family: 'Open Sans','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-style: normal;
	
    line-height: 1;
	margin: 0;
    -webkit-font-smoothing: antialiased; 
}

.dataBottom { width: 100%; display: flex; }

.dataTopLeft { height: 100%; display:flex; }

.dataTopRight { height: 100%; display: flex; }

.dataTop { height:50px; display: flex; justify-content: space-between; }

.dataContainer { height: 100px; width: 75%; padding: 7px;}

.imageContainer { width: 100px; height: 100%; }
.playBtn {
	width: 35px;
	height: 35px;
	background-color: #00aeea;

	border-radius: 4rem;
    transition: background .3s;
    display: flex;
    justify-content:center;
    align-items: center;
}

.playBtn:before, .playBtn:after {
    content: '';
    position: relative;
    display: block;
}


.playBtn.default:before {
	width: 14%;
    height: 50%;
    margin-right: 3px;
    background-color: white;
}

.playBtn.default:after {
	width: 14%;
    height: 50%;

    background-color: white;
}

/* when the song is paused */
.playBtn.paused:before {

	border-right: 32px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 32px solid #fff;

    width: 0;
    height: 0;
    left: 30%;
    border-right: 16px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #fff;
    margin-left: 0;
    margin-top: 0;


	
}

.logo { height: 37px; }

.outerContainer { 
	width: 400px; 
	height: 100px;  
	display: flex; 
	background-color: #e8e8e8;
	border-radius: 3px; 
	border: 1px solid #eae1e1; 
}

.waveform canvas{
	height: 20px;

	canvas: {
		height: 20px;
	}
}
.trackLink {  }
.waveform { height: 100%; width: 100%; }
.waveformWrapper { height: 40px; width: 100%; }